{
    "rules": {
        "at-rule-empty-line-before": [
            "always", {
                except: ["blockless-group", "first-nested"],
                ignore: ["after-comment"]
            }
        ],
        "at-rule-name-case": "lower",
        "at-rule-no-vendor-prefix": true,
        "at-rule-name-space-after": "always",
        "block-closing-brace-newline-after": "always",
        "block-closing-brace-space-before": "always-single-line",
        "block-no-empty": true,
        "block-opening-brace-newline-after": "always-multi-line",
        "block-opening-brace-space-after": "always-single-line",
        "block-opening-brace-space-before": "always-single-line",
        "color-no-hex": true,
        "color-named": "never",
        "comment-empty-line-before": "always",
        "comment-whitespace-inside": "always",
        "declaration-bang-space-after": "never",
        "declaration-bang-space-before": "always",
        "declaration-colon-space-after": "always",
        "declaration-colon-space-before": "never",
        "declaration-block-no-duplicate-properties": true,
        "declaration-block-no-shorthand-property-overrides": true,
        "declaration-block-properties-order": [
            [
                {
                    order: "strict",
                    emptyLineBefore: "always",
                    properties: [
                        "position",
                        "top",
                        "right",
                        "bottom",
                        "left",
                        "z-index"
                    ]
                },
                {
                    order: "strict",
                    emptyLineBefore: "always",
                    properties: [
                        "display",
                        "float",
                        "clear",
                        "flex",
                        "flex-grow",
                        "flex-shrink",
                        "flex-basis",
                        "width",
                        "max-width",
                        "min-width",
                        "height",
                        "max-height",
                        "min-height"
                    ]
                },
                {
                    order: "strict",
                    emptyLineBefore: "always",
                    properties: [
                        "font",
                        "font-size",
                        "font-weight",
                        "font-style",
                        "font-family",
                        "font-variant",
                        "font-feature",
                        "font-kerning",
                        "font-stretch",
                        "line-height",
                        "color",
                        "text",
                        "letter-spacing"
                    ]
                },
                {
                    order: "strict",
                    emptyLineBefore: "always",
                    properties: [
                        "background",
                        "border",
                        "border-top",
                        "border-right",
                        "border-bottom",
                        "border-left",
                        "margin",
                        "margin-top",
                        "margin-right",
                        "margin-bottom",
                        "margin-left",
                        "padding",
                        "padding-top",
                        "padding-right",
                        "padding-bottom",
                        "padding-left",
                    ]
                }
            ],
            {
                unspecified: "bottom"
            }
        ],
        "declaration-block-semicolon-newline-after": "always",
        "declaration-block-semicolon-newline-before": "never-multi-line",
        "declaration-block-semicolon-space-after": "always-single-line",
        "declaration-block-single-line-max-declarations": 1,
        "declaration-block-trailing-semicolon": "always",
        "function-comma-newline-after": "always-multi-line",
        "function-comma-newline-before": "never-multi-line",
        "function-comma-space-after": "always",
        "function-comma-space-before": "never",
        "function-linear-gradient-no-nonstandard-direction": true,
        "function-name-case": "lower",
        "function-url-quotes": "double",
        "function-whitespace-after": "always",
        "indentation": [
            4,
            indentInsideParens: ["once-at-root-twice-in-block"],
            ignore: ["value", "param"],
            hierarchicalSelectors: true,
            indentClosingBrace: false,
        ],
        "max-line-length": 80,
        "max-empty-lines": 5,
        "media-feature-colon-space-after": "always",
        "media-feature-colon-space-before": "never",
        "media-feature-name-no-vendor-prefix": true,
        "media-feature-range-operator-space-after": "always",
        "media-feature-range-operator-space-before": "always",
        "media-query-parentheses-space-inside": "never",
        "media-query-list-comma-newline-after": "always",
        "media-query-list-comma-newline-before": "never-multi-line",
        "media-query-list-comma-space-after": "always-single-line",
        "media-query-list-comma-space-before": "never",
        "no-eol-whitespace": true,
        "no-extra-semicolons": true,
        "no-missing-eof-newline": true,
        "number-leading-zero": "never",
        "number-no-trailing-zeros": true,
        "number-zero-length-no-unit": true,
        "property-case": "lower",
        "property-no-vendor-prefix": true,
        "rule-nested-empty-line-before": [
            "always",
            ignore: ["after-comment"]
        ],
        "rule-non-nested-empty-line-before": [
            "always",
            ignore: ["after-comment"]
        ],
        "root-no-standard-properties": true,
        "selector-attribute-brackets-space-inside": "never",
        "selector-attribute-operator-space-after": "never",
        "selector-attribute-operator-space-before": "never",
        "selector-combinator-space-after": "always",
        "selector-combinator-space-before": "always",
        "selector-max-empty-lines": 0,
        "selector-no-id": true,
        "selector-pseudo-class-case": "lower",
        "selector-pseudo-class-parentheses-space-inside": "never",
        "selector-pseudo-element-case": "lower",
        "selector-pseudo-element-colon-notation": "double",
        "selector-pseudo-element-no-unknown": true,
        "selector-list-comma-newline-after": "always-multi-line",
        "selector-list-comma-newline-before": "never-multi-line",
        "selector-list-comma-space-after": "always-single-line",
        "selector-list-comma-space-before": "never",
        "shorthand-property-no-redundant-values": true,
        "string-quotes": "double",
        "unit-case": "lower",
        "unit-no-unknown": true,
        "value-no-vendor-prefix": true,
        "value-list-comma-space-after": "always-single-line"
    }
}
