// Rows
@mixin make-row($direction: $grid-direction, $grid-gutter: $gutter) {
  display: flex;

  @if $direction == left {
    flex-direction: row;
  }

  @else {
    flex-direction: row-reverse;
  }

  flex-wrap: wrap;

  margin-left: -$grid-gutter/2;
  margin-right: -$grid-gutter/2;
}

// Columns
@mixin make-col($width: 100%, $align: flex-start, $grid-gutter: $gutter) {
  flex: none;

  display: block;

  padding-left: $grid-gutter/2;
  padding-right: $grid-gutter/2;

  width: $width;
  min-height: 1px;

  align-items: flex-start;
  align-self: $align;

  box-sizing: border-box;
}
