@mixin reset-all {
  margin: 0;
  padding: 0;

  border: 0;

  vertical-align: baseline;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

@mixin reset-heading {
  @include reset-all;
}

@mixin reset-list {
  @include reset-all;

  list-style: none;
}

@mixin reset-button {
  @include reset-all;

  appearance: none;
  background: transparent;

  &:focus {
    outline: none;
  }
}

@mixin reset-input {
  @include reset-all;

  appearance: none;

  &:focus {
    outline: none;
  }
}

@mixin reset-anchor {
  color: inherit;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}
