reset-all() {
	margin: 0;
	padding: 0;

	border: 0;

	vertical-align: baseline;

	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

reset-heading() {
	.reset-all();
}

reset-list() {
	reset-all();

	list-style: none;
}

reset-button() {
	reset-all();

	appearance: none;
	background: transparent;

	&:focus {
		outline: none;
	}
}

reset-input() {
	reset-all();

	appearance: none;
}

reset-anchor() {
	color: inherit;
	text-decoration: none;
}
