@import '~styles';

.header {
  display: block;

  margin: 0 0 $gutter;
  padding: 20px 0;

  border-bottom: 1px solid #ccc;
  background: #fff;
}

.container {
  @include container;

  display: flex;
}

.logo {
  @include reset-anchor;

  font-size: 48px;
  font-weight: 200;
  letter-spacing: -0.05em;
}

.navigation {
  display: flex;

  margin-left: auto;
}
