@import '~styles/config';
@import '~components/container/container';

.header {
  margin: 0 0 @gutter;
  padding: 20px 0;

  border-bottom: 1px solid #ccc;
  background: #fff;
}

.container {
  .container;

  display: flex;
}

.logo {
  .reset-anchor();

  font-size: 48px;
  font-weight: 200;
  letter-spacing: -0.05em;
}

.navigation {
  display: flex;

  margin-left: auto;
}
